@import "~global_styles/variables";

.Sidebar {
    display: flex;
    flex-direction: column;
    justify-content: start;
    // grid-template-rows: repeat(auto-fill, minmax(0,auto)); // ! important feature
}
